
.banner-img {
	width: 100%;
	max-height: 320px;
	object-fit: cover;
	display: block;
}

.logo-img {
	height: 40px;
	max-height: 60px;
	width: auto;
	object-fit: contain;
	display: inline-block;
}

/* large logo for restaurant pages */
.logo-large {
	height: auto;
	max-height: 180px;
	width: auto;
	object-fit: contain;
	display: block;
	margin-bottom: 0.5rem;
    
    /* center the logo */
    margin-left: auto;
    margin-right: auto;
}

.card-img-top.card-media-img {
	width: 100%;
	max-height: 180px;
	object-fit: cover;
}

/* small screens tweak for banners */
@media (max-width: 576px) {
	.banner-img { max-height: 200px; }
}

:root {
	/* --site-primary: #0d6efd; /* default bootstrap primary; change as desired */
	--site-primary: #e37c27ff; /* RIT magenta */
}

/* Apply the primary color to the navbar when `site-navbar` is used */
.site-navbar {
	background-color: var(--site-primary) !important;
}

.site-navbar .nav-link,
.site-navbar .navbar-brand {
	color: #fff !important;
}

